@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f7ff;
    color: #122738;
}

.top_cover{
    background-color: #122738;
    height: 50px;
    color: whitesmoke;
    border-bottom: 1px solid #272D33;
}
.top_title{
    margin-top:10px;
    margin-left:3vw;
    margin-right:20px;
    display: inline-block;
}
a{
    color: whitesmoke;
    text-decoration: none;
    font-size: smaller;
}
.top_link{
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    margin-left: 40px;

}

.input_block{
    margin-left:10vw;
    padding:10px;
    margin-top:50px;
    width: 35vw;
    /*border: 1px solid #272D33;*/
    border-radius: 5px;
    background-color: white;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 3px;
    border: 1px solid #272D33;
    border-radius: 2px;
    resize: vertical;
    background-color: #ffffff;
    color: inherit;;
    font-family: inherit;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
input[type=submit] {
    margin-top:10px;
    margin-right:0px;
    background-color: #FEFEFD;
    color: inherit;
    padding: 12px 20px;
    border: 1px solid #272D33;
    border-radius: 2px;
    cursor: pointer;
    float: right;
}
input[type=submit]:hover {
    background-color: #BCD0CA;
    color: inherit;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}